@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: san;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: san;
  src: url(./assets/Fonts/OpenSans/Regular/OpenSans-Regular.ttf);
}

@font-face {
  font-family: proxi;
  src: url(./assets/Fonts/proxima-nova-web-fonts-master/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.ttf);

}